<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<center>
<div class="container">
	<div class="row">
		
    	<!-- Info Card with social icons -->
		<div class="info-card">
				<div class="front">
					<center>
						<h1>avidity</h1>
					</center>
					
				</div>
			<div class="back">
				<h2>açgözlülük</h2>
				<h2>istek</h2>
				<h2>hırs</h2>
			</div>
		</div>

		<!-- Scrolling enabled for longer content -->
		<div class="info-card">
				<div class="front">
					<h1>seldom</h1>
				</div>
			<div class="back">
				<h2>nadiren</h2>
				<h2>belki de hiç</h2>
				<h2>seyrek</h2>
				<h2>nadir</h2>
			</div>
		</div>
		<div class="info-card">
				<div class="front">
					<center>
						<h1>Inference</h1>
					</center>
					
				</div>
			<div class="back">
				<h2>çıkarım</h2>
				<h2>netice</h2>
				<h2>sonuç</h2>
			</div>
		</div>

		<!-- Scrolling enabled for longer content -->
		<div class="info-card">
				<div class="front">
					<h1>Restrictive</h1>
				</div>
			<div class="back">
				<h2>kısıtlayan</h2>
				<h2>sınırlayıcı</h2>
				<h2>kısıtlı</h2>
			</div>
		</div>
		<div class="info-card">
				<div class="front">
					<center>
						<h1>Compulsive</h1>
					</center>
					
				</div>
			<div class="back">
				<h2>mecburi</h2>
				<h2>dürtüyle yapılan</h2>
				<h2>zorlayıcı</h2>
			</div>
		</div>
		<div class="info-card">
				<div class="front">
					<center>
						<h1>Innocent</h1>
					</center>
					
				</div>
			<div class="back">
				<h2>masum</h2>
				<h2>zararsız kimse</h2>
				<h2>saftrik</h2>
			</div>
		</div>

		<!-- Scrolling enabled for longer content -->
		<div class="info-card">
				<div class="front">
					<h1>Sensitive</h1>
				</div>
			<div class="back">
				<h2>hassas</h2>
				<h2>duyarlı</h2>
			</div>
		</div>
		<div class="info-card">
				<div class="front">
					<center>
						<h1>Accurate</h1>
					</center>
					
				</div>
			<div class="back">
				<h2>kesin</h2>
				<h2>doğru</h2>
				<h2>yanlışsız</h2>
			</div>
		</div>

		<!-- Scrolling enabled for longer content -->
		<div class="info-card">
				<div class="front">
					<h1>Determined</h1>
				</div>
			<div class="back">
				<h2>belirli</h2>
				<h2>azimli</h2>
				<h2>kararlı</h2>
			</div>
		</div>
		<div class="info-card">
				<div class="front">
					<center>
						<h1>Decadent</h1>
					</center>
					
				</div>
			<div class="back">
				<h2>çökmüş</h2>
				<h2>gözden düşmüş</h2>
			</div>
		</div>
		<div class="info-card">
				<div class="front">
					<center>
						<h1>Disturbed</h1>
					</center>
					
				</div>
			<div class="back">
				<h2>rahatsız</h2>
				<h2>kaçık</h2>
				<h2>çılgın</h2>
			</div>
		</div>

		<!-- Scrolling enabled for longer content -->
		<div class="info-card">
				<div class="front">
					<h1>Shy</h1>
				</div>
			<div class="back">
					<h2>Utanganç</h2>
					<h2>korkmak</h2>
					<h2>pısırık</h2>
			</div>
		</div>
		<div class="info-card">
				<div class="front">
					<center>
						<h1>Diffident</h1>
					</center>
					
				</div>
			<div class="back">
				<h2>pısırık</h2>
				<h2>mahzup</h2>
				<h2>sıkılgan</h2>
			</div>
		</div>

		<!-- Scrolling enabled for longer content -->
		<div class="info-card">
				<div class="front">
					<h1>Suggestively</h1>
				</div>
			<div class="back">
				<h2>manalı şekilde</h2>
				<h2>imalı şekilde</h2>
			</div>
		</div>
		<div class="info-card">
				<div class="front">
					<center>
						<h1>Functionally</h1>
					</center>
					
				</div>
			<div class="back">
				<h2>işlevsel olarak</h2>
			</div>
		</div>
		<div class="info-card">
				<div class="front">
					<center>
						<h1>Incredibly</h1>
					</center>
					
				</div>
			<div class="back">
				<h2>akıl almaz derecede</h2>
				<h2>inanılmaz bir şekilde</h2>
			</div>
		</div>

		<!-- Scrolling enabled for longer content -->
		<div class="info-card">
				<div class="front">
					<h1>Safely</h1>
				</div>
			<div class="back">
				<h2>emniyetli</h2>
				<h2>güvencede olmak</h2>
				<h2>güvenli şekilde</h2>
			</div>
		</div>
		<div class="info-card">
				<div class="front">
					<center>
						<h1>Provide</h1>
					</center>
					
				</div>
			<div class="back">
				<h2>sağlamak</h2>
				<h2>temin etmek</h2>
				<h2>vazetmek</h2>
			</div>
		</div>

		<!-- Scrolling enabled for longer content -->
		<div class="info-card">
				<div class="front">
					<h1>Admit</h1>
				</div>
			<div class="back">
				<h2>Kabul etmek</h2>
				<h2>İtiraf etmek</h2>
			</div>
		</div>
		<div class="info-card">
				<div class="front">
					<center>
						<h1>Defy</h1>
					</center>
					
				</div>
			<div class="back">
				<h2>küçümsemek</h2>
				<h2>karşı koymak</h2>
				<h2>dayanmak</h2>
			</div>
		</div>
		<div class="info-card">
				<div class="front">
					<center>
						<h1>Dispute</h1>
					</center>
					
				</div>
			<div class="back">
				<h2>çekişmek</h2>
				<h2>tartışmak</h2>
				<h2>tartışma</h2>
			</div>
		</div>

		<!-- Scrolling enabled for longer content -->
		<div class="info-card">
				<div class="front">
					<h1>Surpassed</h1>
				</div>
			<div class="back">
				<h2>aşmak</h2>
				<h2>üstünden gelmek</h2>
			</div>
		</div>
		<div class="info-card">
				<div class="front">
					<center>
						<h1>Relieved</h1>
					</center>
					
				</div>
			<div class="back">
				<h2>rahatlamış</h2>
				<h2>rahat</h2>
				<h2>ferahlamış</h2>
			</div>
		</div>

		<!-- Scrolling enabled for longer content -->
		<div class="info-card">
				<div class="front">
					<h1>Embark</h1>
				</div>
			<div class="back">
				<h2>gemiye bindirmek</h2>
				<h2>gemiye binmek</h2>
				<h2>girişmek</h2>
			</div>
		</div>
		<div class="info-card">
				<div class="front">
					<center>
						<h1>Compromise</h1>
					</center>
					
				</div>
			<div class="back">
				<h2>anlaşmaya varmak</h2>
				<h2>anlaşmak</h2>
			</div>
		</div>
		<div class="info-card">
				<div class="front">
					<center>
						<h1>meadow</h1>
					</center>
					
				</div>
			<div class="back">
				<h2>çayır</h2>
				<h2>mera</h2>
				<h2>ova</h2>
			</div>
		</div>

		<!-- Scrolling enabled for longer content -->
		<div class="info-card">
				<div class="front">
					<h1>neglect</h1>
				</div>
			<div class="back">
				<h2>ihmal etmek</h2>
				<h2>ihmal</h2>
			</div>
		</div>
		<div class="info-card">
				<div class="front">
					<center>
						<h1>Observe</h1>
					</center>
					
				</div>
			<div class="back">
				<h2>Gözlemlemek</h2>
			</div>
		</div>

		<!-- Scrolling enabled for longer content -->
		<div class="info-card">
				<div class="front">
					<h1>pursue</h1>
				</div>
			<div class="back">
				<h2>izlemek</h2>
				<h2>takip etmek</h2>
				<h2>kovalamak</h2>
			</div>
		</div>
		<div class="info-card">
				<div class="front">
					<center>
						<h1>purpose</h1>
					</center>
					
				</div>
			<div class="back">
				<h2>gaye</h2>
				<h2>amaç</h2>
				<h2>maksat</h2>
			</div>
		</div>
		<div class="info-card">
				<div class="front">
					<center>
						<h1>fiance</h1>
					</center>
					
				</div>
			<div class="back">
				<h2>nişanlı(erkek)</h2>
				<h2>sözlü</h2>
			</div>
		</div>

		<!-- Scrolling enabled for longer content -->
		<div class="info-card">
				<div class="front">
					<h1>Famish</h1>
				</div>
			<div class="back">
				<h2>çok aç olmak</h2>
				<h2>açlık çekmek</h2>
			</div>
		</div>
		<div class="info-card">
				<div class="front">
					<center>
						<h1>Deceive</h1>
					</center>
					
				</div>
			<div class="back">
				<h2>aldatmak</h2>
				<h2>kandırmak</h2>
			</div>
		</div>

		<!-- Scrolling enabled for longer content -->
		<div class="info-card">
				<div class="front">
					<h1>declare</h1>
				</div>
			<div class="back">
				<h2>beyan etmek</h2>
				<h2>ilan etmek</h2>
				<h2>deklare etmek</h2>
				<h2>bildirmek</h2>
			</div>
		</div>
		<div class="info-card">
				<div class="front">
					<center>
						<h1>descend</h1>
					</center>
					
				</div>
			<div class="back">
				<h2>inmek</h2>
				<h2>alçalmak</h2>
				<h2>düşmek</h2>
			</div>
		</div>
		<div class="info-card">
				<div class="front">
					<center>
						<h1>develop</h1>
					</center>
					
				</div>
			<div class="back">
				<h2>geliştirmek</h2>
				<h2>gelişmek</h2>
			</div>
		</div>

		<!-- Scrolling enabled for longer content -->
		<div class="info-card">
				<div class="front">
					<h1>dispatch</h1>
				</div>
			<div class="back">
				<h2>sevk etmek</h2>
				<h2>göndermek</h2>
				<h2>yollamak</h2>
				<h2>sevk</h2>
			</div>
		</div>
		<div class="info-card">
				<div class="front">
					<center>
						<h1>docile</h1>
					</center>
					
				</div>
			<div class="back">
				<h2>söz dinler</h2>
				<h2>uysal</h2>
				<h2>koyun gibi</h2>
			</div>
		</div>

		<!-- Scrolling enabled for longer content -->
		<div class="info-card">
				<div class="front">
					<h1>Eliminate</h1>
				</div>
			<div class="back">
				<h2>elemek</h2>
				<h2>bertaraf etmek</h2>
				<h2>saf dışı etmek</h2>
			</div>
		</div>
		<div class="info-card">
				<div class="front">
					<center>
						<h1>Enhance</h1>
					</center>
					
				</div>
			<div class="back">
				<h2>arttırmak</h2>
				<h2>geliştirmek</h2>
				<h2>yükselmek</h2>
				<h2>iyileştirmek</h2>
			</div>
		</div>
		<div class="info-card">
				<div class="front">
					<center>
						<h1>adore</h1>
					</center>
					
				</div>
			<div class="back">
				<h2>tapmak</h2>
				<h2>çılgınca sevmek</h2>
				<h2>bitmek</h2>
			</div>
		</div>

		<!-- Scrolling enabled for longer content -->
		<div class="info-card">
				<div class="front">
					<h1>appalling</h1>
				</div>
			<div class="back">
				<h2>müthiş</h2>
				<h2>dehşete düşüren</h2>
				<h2>korkunç</h2>
			</div>
		</div>
		<div class="info-card">
				<div class="front">
					<center>
						<h1>Captive</h1>
					</center>
					
				</div>
			<div class="back">
				<h2>esir</h2>
				<h2>tutsak</h2>
				<h2>mahpus</h2>
				<h2>köle</h2>
			</div>
		</div>

		<!-- Scrolling enabled for longer content -->
		<div class="info-card">
				<div class="front">
					<h1>claw</h1>
				</div>
			<div class="back">
				<h2>pençe</h2>
				<h2>el uzatmak</h2>
				<h2>pençelemek</h2>
			</div>
		</div>
		<div class="info-card">
				<div class="front">
					<center>
						<h1>Carve</h1>
					</center>
					
				</div>
			<div class="back">
				<h2>oymak</h2>
				<h2>kesmek</h2>
				<h2>hakketmek</h2>
			</div>
		</div>
		<div class="info-card">
				<div class="front">
					<center>
						<h1>bizarre</h1>
					</center>
					
				</div>
			<div class="back">
				<h2>garip</h2>
				<h2>acayip</h2>
				<h2>tuhaf</h2>
			</div>
		</div>

		<!-- Scrolling enabled for longer content -->
		<div class="info-card">
				<div class="front">
					<center>
						<h1>Bolt</h1>
					</center>
					
				</div>
			<div class="back">
				<h2>sürgülemek</h2>
				<h2>civata</h2>
				<h2>sürgü</h2>
			</div>
		</div>

		<!-- Scrolling enabled for longer content -->
		<div class="info-card">
				<div class="front">
					<h1>essantial</h1>
				</div>
			<div class="back">
				<h2>ana</h2>
				<h2>esas</h2>
				<h2>esaslı</h2>
				<h2>asil</h2>
			</div>
		</div>
		<div class="info-card">
				<div class="front">
					<center>
						<h1>Abundance</h1>
					</center>
					
				</div>
			<div class="back">
				<h2>bolluk</h2>
				<h2>çokluk</h2>
				<h2>bereket</h2>
				<h2>miktar</h2>
			</div>
		</div>

		<div class="info-card">
			<div class="front">
					<h1>accelerate</h1>
				</div>
			<div class="back">
				<h2>hızlandırmak</h2>
				<h2>hızlanmak</h2>
				<h2>ivme vermek</h2>
			</div>
		</div>

</div>
</center>